head, body{
    margin: 0;
}
.container{
    height: 100vh;
    display:grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas: 
    "men titre"
    "lien text";
    text-decoration: none;
}
#titreMenu{
    grid-area: men;
    font-size: 50px; 
    text-align: center;
    background-color: aliceblue;
    border-top:20px solid aliceblue;
    border-right: 40px solid aliceblue;
    
}
#titrePage
{
    grid-area: titre;
    font-size: 50px; 
    text-align: center;
    background-color: blueviolet;
    border-top:20px solid blueviolet;
  
}
#lien
{
    grid-area: lien;
    background-color: aliceblue;
    padding-top:0px;
    font-size: 30px;
    text-decoration: none;
    color:blue;
}
#text
{
    grid-area: text;
    background-color: blueviolet;
    text-align: justify;
    padding-left:50px;
    padding-right:50px;
    padding-top:20px;

}
#lien1{
    margin-top: 60px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right:20px;
}
#lien2{
    margin: 20px;
}
#lien3{
    margin: 20px;
}
#lien4{
    transition: 3s;
    margin: 20px;
    text-decoration: none;
}
#image{
    padding-top: 290px;
    text-align: center;
}
#lien4:hover{
    
    transform: translateY(150px);
    background-color: black;
    color: white;
}
#lien3:hover{
    
    background-color: black;
    color: white;
}
#lien2:hover{
    
    background-color: black;
    color: white;
}
#lien1:hover{
    
    background-color: black;
    color: white;
}